@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Zero Hunger!</h1>
        <p class="lead">We strive to reduce food wastage.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Problem Statement</h2>
            <p>
                The problem of hunger persists as a significant global challenge, affecting millions of people around the world.
                Despite advancements in various sectors, a large portion of the global population continues to suffer from hunger,
                malnutrition, and food insecurity. The problem of zero hunger encompasses several interconnected issues that 
                hinder individuals and communities from accessing sufficient, safe, and nutritious food to lead healthy and productive lives..
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.un.org/sustainabledevelopment/hunger/">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Goals</h2>
            <p>The primary goal of this project is to solve the wastage of food done by the buffets, parties etc.</p>
            <p><a class="btn btn-outline-dark" href="https://www.un.org/sustainabledevelopment/hunger/#tab-6f500e1aa274b23d96d">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Links</h2>
            <p><a class="page-link" href="http://www.ifad.org/">International Fund for Agricultural Development</a></p>
            <p><a class="page-link" href="https://www.un.org/en/zerohunger/#&panel1-1">Zero Hunger Challenge</a></p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>