
@{
    ViewBag.Title = "AddCollReq";
}

<div class="card mt-4">
    <div class="card-header">
        <h2>Add Collection Request</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="FoodType">Food Type:</label>
                <input type="text" class="form-control" id="FoodType" name="FoodType" placeholder="Enter food type.">
                <label for="PreserveTime">Food Expirey time:</label>
                <input type="text" class="form-control" id="PreserveTime" name="PreserveTime" placeholder="Enter days/hours/month.">
            </div>
            <button type="submit" class="btn btn-primary">Add Collection Request</button>
        </form>
    </div>
</div>

