@Model List<RestaurantDTO> 
@{
    ViewBag.Title = "ViewCollReq";
}

<div class="container">
    <h2>View Collection Request</h2>

    @if (Model.Count == 0)
    {
        <p>No Collection request found.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Restaurant ID</th>
                    <th>Food Type</th>
                    <th>Expirey Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rest in Model)
                {
                    <tr>
                        <td>@rest.RestID</td>
                        <td>@rest.FoodType</td>
                        <td>@rest.PreserveTime</td>
                        <td><a href="/Restaurant/DeleteCollReq/@rest.RestID" class="btn btn-success">Delete Collection Request</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

