@{
    ViewBag.Title = "AddEmployee";
}

<div class="card mt-4">
    <div class="card-header">
        <h2>Add Employee</h2>
    </div>
    <div class="card-body">
        <form method="post" >
            <div class="form-group">
                <label for="employeeName">Employee Name:</label>
                <input type="text" class="form-control" id="EmpName" name="EmpName" placeholder="Enter employee Name.">
                <label for="employeeName">Employee Contact Info:</label>
                <input type="text" class="form-control" id="Contact" name="Contact" placeholder="Enter employee contact info.">
            </div>
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </form>
    </div>
</div>

