

@{
    ViewBag.Title = "Assign Employee";
}

<div class="card mt-4">
    <div class="card-header">
        <h2>Assign Employee</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="resturantID">Resturant ID:</label>
                <input type="text" class="form-control" id="RestID" name="RestID" placeholder="Enter resturant ID.">
                <label for="employeeID">Employee ID:</label>
                <input type="text" class="form-control" id="EmpID" name="EmpID" placeholder="Enter employee ID.">
            </div>
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </form>
    </div>
</div>
