
@{
    ViewBag.Title = "AddRequest";
}

<div class="card mt-4">
    <div class="card-header">
        <h2>Add Request</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="employeeName">Assigned Employee Request ID:</label>
                <input type="text" class="form-control" id="AssID" name="AssID" placeholder="Enter assigned request ID.">
                <label for="employeeName">Status:</label>
                <input type="text" class="form-control" id="Status" name="Status" placeholder="Enter request status.">
            </div>
            <button type="submit" class="btn btn-primary">Add Request</button>
        </form>
    </div>
</div>

